<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>855981803459-2hrsfbphntjtc7cmdlvduhpdtcb37a3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855981803459-2hrsfbphntjtc7cmdlvduhpdtcb37a3a</string>
	<key>API_KEY</key>
	<string>AIzaSyA0FZw__exTkAOlmJk1nwDgFsvvtvyqhxg</string>
	<key>GCM_SENDER_ID</key>
	<string>855981803459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Catherine.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cec9f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cec9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855981803459:ios:d841ed885197ea50</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cec9f.firebaseio.com</string>
</dict>
</plist>